### 선형회귀 모델

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# 데이터 생성
data = pd.DataFrame({'시간': [2,4,8,9], '성적':[20,40,80,90]},
                    index = ['교인','홍철','상석','승철'])
data

    시간  성적
교인   2  20
홍철   4  40
상석   8  80
승철   9  90

## 선형모델을 활용
   - 7시간 공부했을 때의 성적 예측

In [ ]:
# 수학공식을 활요한 해석적 방법